<h1>Danh Sách Tuyến Cao Tốc</h1> <p>{{highwaysAmount}}</p>
<label for="name">Name:</label>
<input type="text" id="name" [(ngModel)]="newHighway.name" required />

<label for="maxSpeed">Max Speed:</label>
<input type="number" id="maxSpeed" [(ngModel)]="newHighway.maxSpeed" required />

<label for="description">Description:</label>
<input type="text" id="description" [(ngModel)]="newHighway.description" required>
<label for="status">Status:</label>
<select id="status" [(ngModel)]="newHighway.inactive" required>
  <option value="">Select Status</option>
  <option value="true">Active</option>
  <option value="false">Inactive</option>
</select>
<button (click)="onCreateAHighway()" type="submit">Add</button>

<table>
  <tr>
    <th>Tên cao tốc</th>
    <th>Tốc độ tối đa</th>
    <th>Mô tả</th>
    <th>Trạng thái</th>
    <th></th>
  </tr>
  <tr *ngFor="let highway of highways">
    <td>{{highway.name}}</td>
    <td>{{highway.maxSpeed}}</td>
    <td>{{highway.description}}</td>
    <td *ngIf="highway.inactive; else elseBlock">Hoạt động</td>
    <ng-template #elseBlock>
      <td>Không hoạt động</td>
    </ng-template>
    <td>
      <button (click)="onGetAHighway(highway.id)">Edit</button>
      <button (click)="onDeleteAHighway(highway.id)">Delete</button>
    </td>
  </tr>
</table>

<label for="name">Name:</label>
<input type="text" id="name" [(ngModel)]="selectedHighway.name" required />

<label for="maxSpeed">Max Speed:</label>
<input type="number" id="maxSpeed" [(ngModel)]="selectedHighway.maxSpeed" required />

<label for="description">Description:</label>
<input type="text" id="description" [(ngModel)]="selectedHighway.description" required>

<label for="status">Status:</label>
<select id="status" [(ngModel)]="selectedHighway.inactive" required>
  <option value="">Select Status</option>
  <option value="true">Active</option>
  <option value="false">Inactive</option>
</select>
<button (click)="onUpdateAHighway()" type="submit">Update</button>
